# Logs
logs
*.log

node_modules
.DS_Store
dist
dist-ssr
*.local
.cache
.temp
package-lock.json
npm-shrinkwrap.json
yarn.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
