# Logs
logs
*.log
pnpm-debug.log*

node_modules
.DS_Store
dist
dist-ssr
*.local
.cache
.temp
pnpm-lock.yaml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
