:root {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Head';
  src: url('/font/Good Brush.woff');
}

.navbar .site-name {
  font-family: 'Head';
  font-size: 1.5rem;
}
.home .feature h2 {
  font-family: 'Head';
}

.navbar-item {
  font-size: 13px;
}

// custom
.d-img__center {
  display: block;
  margin: 0 auto;
}
